<html>
<head>

<title> _____HTML_____ </title>

<meta charset= "utf-8">
<style>
</style>

</head>

<body background="https://i.ytimg.com/vi/h4FGqymg4k4/maxresdefault.jpg" >
<table border=0 width=100%>
<col span="1" width=30%>
<tr>
<th><img src ="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/13418719_1028551773878025_7917639622509809245_n.jpg?_nc_cat=105&_nc_oc=AQkvWHP8t66EFJVUf8oykdmmq_DHPpnHO1UfvkT-nZGuNkMEWymSdoMmwZX-3peyTVU&_nc_ht=scontent.fbkk10-1.fna&oh=af9100a9524f881bcfdb3257e8f0ee40&oe=5E58DF40" width = "200" height = "200"></th>
<th><font size=52> Developer : </font></th>
<th><font size=42> นางสาววิรัลพัชร โรจนศักดิ์โสธร </font></th>
</tr>
</table>

<html>